# Folder storing sample robot drawings
combs
# Folder storing model checkpoints
ModelCheckpoint
# Folder storing SavedModel Objects
SavedModel
# Folder storing model performance
ModelPerformance
# A local Jupyter Notebook used to test code for some intermediate steps
test.ipynb